APK/APKPure/*
*.class
Java/Classes/sootOutput/*.apk
Java/sootOutput/*
*.swp
*.jimple
.Rproj.user
APK/APK_Testing/*.apk
APK/Testing/*.apk
APK/Google_Play_Apps/*.apk
Java/APK_Files_Signed_And_Injected_Logs/*.apk