Data/Application_Analysis/*.apk
APK/Testing_Library_Checks/*
APK/Final_Testing/*
APK/Google_Play_Download_Test/*
APK/APKPure/*
APK/Androzoo/*.apk
APK/Androzoo_Testing/*.apk
APK/Backup*/*.apk
APK/Valid_APK_Files_To_Test/*.apk
*.class
Java/Classes/sootOutput/*.apk
Java/sootOutput/*
*.swp
*.jimple
.Rproj.user
APK/APK_Testing/*.apk
APK/Testing/*.apk
APK/Google_Play_Apps/*.apk
APK/Google_Play_Apps/*/*.apk
Androzoo/*
Java/APK_Files_Signed_And_Injected_Logs/*/*.apk
Java/Classes/sootOutput/*
Java/Classes/*.apk
Java/Classes/APK_Files_To_Monkey_Test/*.apk
APK/Google_Play_Collection_Bello/*.apk
