APK/APKPure/
*.class
Java/Classes/sootOutput/*.apk
Shell_Script/*.swp
*.swp
*.jimple
Java/sootOutput/*
.Rproj.user
APK/APK_Testing/*
APK/Testing/*
APK/Google_Play_Apps/*
Java/APK_Files_Signed_And_Injected_Logs/*