<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="400724" package="com.brakefield.painter" split="config.arm64_v8a"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:hasCode="false">
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="3" />
    </application>
</manifest>